.link {
display: inline-block;
  margin-top: 20px;
  margin-left: 100px;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #373737;
  background: #ebd8ff;
  border-radius: 10.3px;
  text-decoration: none;

}
.link:hover {
  background: #5cd3a8;
}
